<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="navigation-bar">
        <ul>
            <li class="active"><a href="/about#vicky">Vigneshwar Sriram</a></li>
            <li><a href="/">Home</a></li>
        </ul>
    </div>

    <div class="our-content">
        <h2>HELLO</h2>
        <h1>I'm<br>Vigneshwar Sriram</h1>
        <h3>A Freelancer Data Scientist</h3>

        <img src="../static/img/vicky's profile picture.jpg" alt="Vicky's profile picture" width="500" height="700">
        
        <a name='vicky'>
          <p>Software Development Engineer in Test with ten months of experience in creating test automation framework to solve challenging  business  problems.  Strong  background  in  computer programming  language, and knowledge of various types of machine learning and deep learning techniques.</p>
          <br>
          <p>Presently associated Wipro Limited as Project Engineer.</p>
          <br>
          <p>Worked with the development team and created a Data Driven Framework Automation test pack, which was appreciated by the client and the management for massive time reduction.</p>
          <br>
          <p>Possess good interpersonal skills that have been put to good use in co-coordinating with Project teams and providing customized software solutions.</p>
          <br>
          <p>Team player with effective communication skills and proven abilities in resolving complex issues.</p>
          <br>
        </a>
        <h2>Come join me in the path of learning Data Science!!</h2>
        
        <form>
            <div class="input-group">
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button">Submit</button>
              </span>
            </div>
        </form>
    </div>
    
</body>
</html>